* {
  font-family: optima;
  font-weight: 600;
  font-size: 20px;
}
form {
  margin: 5%;
  padding: 5%;
  background-color: rgba(6, 109, 112, 0.514);
  color: rgb(247, 247, 247);
}

body {
  background-color: rgba(128, 128, 128, 0.247);
  background-image: url('https://i.postimg.cc/5yXWNQs6/tumblr-mzxrf5mh1-P1skbdieo1-1280.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  padding-top: 30px;
  padding-bottom: -30px;
  text-align: center;
}

#title {
  color: rgb(1, 85, 43);
  font-size: 2.5em;
  margin-bottom: -3px;
}
#description {
  color: rgba(255, 255, 255, 0.623);
}
p {
  padding: 20px 0;
}

.form-group input {
  padding: 12px;
  border: none;
  border-radius: 5px;
}
.form-group label {
  padding: 20px 0;
  display: block;
}

.max-width {
  width: 90%;
}

#submit {
  background-color: rgb(11, 78, 133);
  color: white;
  float: right;
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
